@import '~bootstrap/scss/bootstrap';
@import './vars.scss';

@import '~@fontsource/montserrat/index.css';
@import '~@fontsource/montserrat/700.css';

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}